body {
  background-color: #000000;
  color: #fff;
}

h1{
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 25px;
  font-weight: bold;
}

img{
  width: 500px;
}

p{
  width: 500px;
  color: #949090;
}